<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!--
1. Createa  <div> and take control with a Vue instance DONE
2. Output an array of hobbies in this <div> (provide some default hobbies) DONE
3. Add a 'New Hobby' button + <input> field where you add the hobby the user entered to the list DONE
4. Make the hobbies clickable to remove them once clicked DONE
5. Add a <p>Hobby Deleted</p> which is only shown when a hobby is deleted DONE
6. Add a hobby counter (<p>Hobbies...</p>) above the list of hobbies DONE
7. Dynamically style/add classes to the hobby counter, depending o whether you have more or less than 3 hobbies DONE
8. OUtsource your hobbies (the <li> eleemnt) into a re-usable component DONE
!-->
<div id="practice1">
  <p
    v-bind:style="{color: elements.length > 3 ? 'red' : 'black'}"
    v-bind:class="{'many-hobbies': elements.length > 3}">Hobbies: {{ elements.length }}</p>
  <ul>
    <practice1-comp
      v-for="el in elements"
      v-bind:hobby="el"
      v-on:hobbyremoved="removeHobby($event)"
      ></practice1-comp>
  </ul>

	<input type="text" v-model="userHobby">
  <button v-on:click="addHobby">New Hobby</button>
	<p v-if="hobbyRemoved">Hobby was deleted!</p>
</div>
