<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
	<app-username
		v-bind:username="'Sally'"
		v-on:usrclicked="userWasClicked($event)"


	></app-username>
  <p v-bind:class="{updated: name == 'Fart' ? false : true}">{{ name }}</p>
  <p v-if="name == 'Fart' ? false : true">Name updated!</p>
  <button v-on:click="changeName">Change Name</button>
  <button v-on:click="addElement">New Element  </button>
  <ul>
    <li v-for="element in elements"
      v-bind:id="'el' + element"
      v-bind:style="{backgroundColor: getColor(element)}"
    >
      Element {{ element }}

    </li>
  </ul>
</div>

<div id="app2">
	<input type="text" v-model="message">
	<p>
		{{ message }}
	</p>

</div>
